@import url("https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,300;0,400;0,500;1,300;1,400;1,500&display=swap");

:root {
  --text-primary-color: #e5e5e5;
  --text-secondary-color: #a8a29e;
  --background-primary-color: #200f21;
  --background-secondary-color: #382039;
  --button-primary-color: #f638dc;
  --button-secondary-color: #5a3d5c;
  --tag-button-primary-color: #5c5470;
  --tag-button-secondary-color: #352f44;
  --error-color: #ef4444;
}

* {
  padding: 0;
  margin: 0;
  list-style: none;
  border: 0;
  box-sizing: border-box;
}

html,
body,
#app-root {
  height: 100%;
}

html {
  /* font-size: 24px; */
  /* font-size: 32px; */
  /* font-size: 48px; */
}

body {
  font-family: "Roboto", sans-serif;
  background-color: var(--background-primary-color);
}

.container {
  margin: 0 auto;
  width: 100%;
}

.grid-container {
  display: grid;
  grid-template-columns: 18rem 1fr;
  grid-template-rows: auto 1fr auto;
  grid-template-areas:
    "header header"
    "sidebar main"
    "footer footer";
  gap: 1.5rem;
  height: 100vh;
  width: 100%;
}

.header {
  grid-area: header;
}

.footer {
  grid-area: footer;
}

.sidebar {
  grid-area: sidebar;
}

.main {
  grid-area: main;
}

@media (min-width: 640px) {
  .container {
    max-width: 640px;
  }
}

@media (min-width: 768px) {
  .container {
    max-width: 768px;
  }
}

@media (min-width: 1024px) {
  .container {
    max-width: 1024px;
  }
}

@media (min-width: 1280px) {
  .container {
    max-width: 1280px;
  }
}

@media (min-width: 1536px) {
  .container {
    max-width: 1536px;
  }
}

@media (max-width: 640px) {
  .grid-container {
    grid-template-columns: 1fr;
    grid-template-rows: auto auto 1fr auto;
    grid-template-areas:
      "header"
      "sidebar"
      "main"
      "footer";
  }
}

.header-container {
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 2rem;
  padding: 2rem 1rem;
}

.logo-section {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  gap: 1.5rem;
}

.logo-section h1 {
  font-size: 3.5rem;
  font-weight: 600;
  color: var(--text-primary-color);
  letter-spacing: 2px;
}

.logo {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 7rem;
  height: 7rem;
  border-radius: 50%;
  background-color: var(--button-secondary-color);
}

.logo img {
  width: 5rem;
  height: auto;
}
