@import url("https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,300;0,400;0,500;1,300;1,400;1,500&display=swap");

:root {
  --text-primary-color: #e5e5e5;
  --text-secondary-color: #a8a29e;
  --background-primary-color: #200f21;
  --background-secondary-color: #382039;
  --button-primary-color: #f638dc;
  --button-primary-hover-color: #f76ff1;
  --button-primary-active-color: #e419c9;
  --button-secondary-color: #5a3d5c;
  --button-secondary-hover-color: #7a546a;
  --button-secondary-active-color: #3f2b3d;
  --button-text-color: #e5e5e5;
  --tag-button-primary-color: #5c5470;
  --tag-button-secondary-color: #352f44;
  --error-color: #ef4444;
}

* {
  padding: 0;
  margin: 0;
  list-style: none;
  border: 0;
  box-sizing: border-box;
}

html,
body,
#app-root {
  height: 100%;
}

html {
  /* font-size: 24px; */
  /* font-size: 32px; */
  /* font-size: 48px; */
}

body {
  font-family: "Roboto", sans-serif;
  background-color: var(--background-primary-color);
  color: var(--text-primary-color);
}

.container {
  margin: 0 auto;
  width: 100%;
}

.grid-container {
  display: grid;
  grid-template-columns: 18rem 1fr;
  grid-template-rows: auto 1fr auto;
  grid-template-areas:
    "header header"
    "sidebar main"
    "footer footer";
  gap: 1.5rem;
  height: 100vh;
  width: 100%;
}

.header {
  grid-area: header;
}

.footer {
  grid-area: footer;
}

.sidebar {
  grid-area: sidebar;
}

.main {
  grid-area: main;
}

@media (min-width: 640px) {
  .container {
    max-width: 640px;
  }
}

@media (min-width: 768px) {
  .container {
    max-width: 768px;
  }
}

@media (min-width: 1024px) {
  .container {
    max-width: 1024px;
  }
}

@media (min-width: 1280px) {
  .container {
    max-width: 1280px;
  }
}

@media (min-width: 1536px) {
  .container {
    max-width: 1536px;
  }
}

@media (max-width: 640px) {
  .grid-container {
    grid-template-columns: 1fr;
    grid-template-rows: auto auto 1fr auto;
    grid-template-areas:
      "header"
      "sidebar"
      "main"
      "footer";
  }
}

/*#region header*/
.header__container {
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 2rem;
  padding: 2rem;
}

.header__logo-section {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  gap: 1.5rem;
  height: 100%;
}

.header__title {
  font-size: 3.5rem;
  font-weight: 600;
  letter-spacing: 2px;
}

.header__logo {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 7rem;
  height: 7rem;
  border-radius: 50%;
  background-color: var(--button-secondary-color);
}

.header__logo-image {
  width: 5rem;
  height: auto;
}
/*#endregion header*/

/*#region buttons*/
.btn,
.btn-md {
  font-family: inherit;
  font-size: 1rem;
  font-weight: 600;
  text-align: center;
  text-decoration: none;
  border: none;
  border-radius: 0.5rem;
  padding: 0.5rem 1rem;
  cursor: pointer;
  transition: background-color 0.2s, color 0.2s, box-shadow 0.2s;
  background-color: var(--button-text-color);
  color: var(--background-secondary-color);
  width: max-content;
}

.btn:hover {
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

.btn:active {
  box-shadow: 0 1px 2px rgba(0, 0, 0, 0.1);
}

.btn:disabled,
.btn--disabled {
  cursor: not-allowed;
  box-shadow: none;
  opacity: 0.5;
}

.btn:disabled:hover,
.btn--disabled:hover {
  box-shadow: none;
}

.btn--xl {
  font-size: 2rem;
  padding: 0.75rem 1.5rem;
  border-radius: 0.75rem;
}

.btn--lg {
  font-size: 1.5rem;
  padding: 0.75rem 1.5rem;
  border-radius: 0.75rem;
}

.btn--primary {
  background-color: var(--button-primary-color);
  color: var(--button-text-color);
}

.btn--primary:hover {
  background-color: var(--button-primary-hover-color);
  color: var(--button-text-color);
}

.btn--primary:active {
  background-color: var(--button-primary-active-color);
  color: var(--button-text-color);
}

.btn--primary.btn--disabled:hover,
.btn--primary.btn--disabled:active,
.btn--primary:disabled:hover,
.btn--primary:disabled:active {
  background-color: var(--button-primary-color);
  color: var(--button-text-color);
}

.btn--secondary {
  background-color: var(--button-secondary-color);
  color: var(--button-text-color);
}

.btn--secondary:hover {
  background-color: var(--button-secondary-hover-color);
  color: var(--button-text-color);
}

.btn--secondary:active {
  background-color: var(--button-secondary-active-color);
  color: var(--button-text-color);
}

.btn--secondary.btn--disabled:hover,
.btn--secondary.btn--disabled:active,
.btn--secondary:disabled:hover,
.btn--secondary:disabled:active {
  background-color: var(--button-secondary-color);
  color: var(--button-text-color);
}
/*#endregion buttons*/
