@import url("https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,300;0,400;0,500;1,300;1,400;1,500&display=swap");

@import url("https://fonts.googleapis.com/css2?family=Coiny&family=Sono:wght@400;600&display=swap");

:root {
  --text-primary-color: #e5e5e5;
  --text-secondary-color: #999999;
  --background-primary-color: #200f21;
  --background-secondary-color: #382039;
  --button-primary-color: #f638dc;
  --button-primary-hover-color: #f76ff1;
  --button-primary-active-color: #e419c9;
  --button-secondary-color: #5a3d5c;
  --button-secondary-hover-color: #7a546a;
  --button-secondary-active-color: #3f2b3d;
  --button-text-color: #e5e5e5;
  --tag-button-primary-color: #5c5470;
  --tag-button-primary-hover-color: #706a85;
  --tag-button-primary-active-color: #4a425a;
  --tag-button-secondary-color: #352f44;
  --tag-button-secondary-hover-color: #534b61;
  --tag-button-secondary-active-color: #221d2e;
  --error-color: #ef4444;
}

* {
  padding: 0;
  margin: 0;
  list-style: none;
  border: 0;
  box-sizing: border-box;
}

html,
body,
#app-root {
  height: 100%;
}

html {
  /* font-size: 24px; */
  /* font-size: 32px; */
  /* font-size: 48px; */
}

body {
  font-family: "Roboto", sans-serif;
  background-color: var(--background-primary-color);
  color: var(--text-primary-color);
}

.container {
  margin: 0 auto;
  width: 100%;
}

.grid-container {
  display: grid;
  grid-template-columns: 18rem 1fr;
  grid-template-rows: auto 1fr auto;
  grid-template-areas:
    "header header"
    "sidebar main"
    "footer footer";
  height: 100vh;
  width: 100%;
}

.header {
  grid-area: header;
}

.footer {
  grid-area: footer;
}

.sidebar {
  grid-area: sidebar;
}

.main {
  grid-area: main;
}

@media (min-width: 640px) {
  .container {
    max-width: 640px;
  }
}

@media (min-width: 768px) {
  .container {
    max-width: 768px;
  }
}

@media (min-width: 1024px) {
  .container {
    max-width: 1024px;
  }
}

@media (min-width: 1280px) {
  .container {
    max-width: 1280px;
  }
}

@media (min-width: 1536px) {
  .container {
    max-width: 1536px;
  }
}

@media (max-width: 768px) {
  .grid-container {
    gap: 1.5rem;
  }
}

@media (max-width: 640px) {
  .grid-container {
    grid-template-columns: 100%;
    grid-template-rows: auto auto 1fr auto;
    grid-template-areas:
      "header"
      "sidebar"
      "main"
      "footer";
    gap: 1.5rem;
  }
}

/*#region buttons*/
.btn,
.btn-md {
  display: flex;
  align-items: center;
  justify-content: center;
  width: max-content;
  min-height: 2.5rem;
  font-family: "Coiny", "Roboto", sans-serif;
  line-height: 1;
  font-size: 1.25rem;
  text-decoration: none;
  border: none;
  border-radius: 0.5rem;
  padding: 0.5rem 1rem;
  cursor: pointer;
  transition: background-color 0.2s, color 0.2s, box-shadow 0.2s;
  background-color: var(--button-text-color);
  color: var(--background-secondary-color);
}

.btn:hover {
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

.btn:active {
  box-shadow: 0 1px 2px rgba(0, 0, 0, 0.1);
}

.btn:disabled,
.btn--disabled {
  cursor: not-allowed;
  box-shadow: none;
  opacity: 0.5;
}

.btn:disabled:hover,
.btn--disabled:hover {
  box-shadow: none;
}

.btn--xl {
  font-size: 2rem;
  padding: 0.75rem 1.5rem;
  border-radius: 0.75rem;
}

.btn--lg {
  font-size: 1.5rem;
  padding: 0.75rem 1.5rem;
  border-radius: 0.75rem;
}

.btn--primary {
  background-color: var(--button-primary-color);
  color: var(--button-text-color);
}

.btn--primary:hover {
  background-color: var(--button-primary-hover-color);
  color: var(--button-text-color);
}

.btn--primary:active {
  background-color: var(--button-primary-active-color);
  color: var(--button-text-color);
}

.btn--primary.btn--disabled:hover,
.btn--primary.btn--disabled:active,
.btn--primary:disabled:hover,
.btn--primary:disabled:active {
  background-color: var(--button-primary-color);
  color: var(--button-text-color);
}

.btn--secondary {
  background-color: var(--button-secondary-color);
  color: var(--button-text-color);
}

.btn--secondary:hover {
  background-color: var(--button-secondary-hover-color);
  color: var(--button-text-color);
}

.btn--secondary:active {
  background-color: var(--button-secondary-active-color);
  color: var(--button-text-color);
}

.btn--secondary.btn--disabled:hover,
.btn--secondary.btn--disabled:active,
.btn--secondary:disabled:hover,
.btn--secondary:disabled:active {
  background-color: var(--button-secondary-color);
  color: var(--button-text-color);
}

.btn--tag-primary {
  background-color: var(--tag-button-primary-color);
  color: var(--button-text-color);
}

.btn--tag-primary:hover {
  background-color: var(--tag-button-primary-hover-color);
  color: var(--button-text-color);
}

.btn--tag-primary:active {
  background-color: var(--tag-button-primary-active-color);
  color: var(--button-text-color);
}

.btn--tag-primary.btn--disabled:hover,
.btn--tag-primary.btn--disabled:active,
.btn--tag-primary:disabled:hover,
.btn--tag-primary:disabled:active {
  background-color: var(--tag-button-primary-color);
  color: var(--button-text-color);
}

.btn--tag-secondary {
  background-color: var(--tag-button-secondary-color);
  color: var(--button-text-color);
}

.btn--tag-secondary:hover {
  background-color: var(--tag-button-secondary-hover-color);
  color: var(--button-text-color);
}

.btn--tag-secondary:active {
  background-color: var(--tag-button-secondary-active-color);
  color: var(--button-text-color);
}

.btn--tag-secondary.btn--disabled:hover,
.btn--tag-secondary.btn--disabled:active,
.btn--tag-secondary:disabled:hover,
.btn--tag-secondary:disabled:active {
  background-color: var(--tag-button-secondary-color);
  color: var(--button-text-color);
}
/*#endregion buttons*/

/*#region card*/
.card {
  padding: 1.25rem 1.75rem;
  border-radius: 0.75rem;
  background-color: var(--background-secondary-color);
}

.card--full {
  width: 100%;
}

@media (max-width: 1023px) {
  .predictions__item {
    padding: 1.25rem;
  }
}
/*#endregion card*/

/*#region form elements*/
.form {
  width: 100%;
  height: auto;
  font-family: "Sono", "Roboto", sans-serif;
  letter-spacing: 0;
  line-height: 1.4;
}

.form__header,
.form__content {
  margin-bottom: 1.75rem;
}

.form__title {
  font-family: inherit;
  font-weight: 600;
  line-height: 1.2;
  font-size: 1.5rem;
}

.form__title--md {
  font-size: 1.5rem;
}

.form__title--lg {
  font-size: 1.75rem;
}

.form__title--xl {
  font-size: 2rem;
}

.form__item-group {
  width: 100%;
  margin-bottom: 1.5rem;
}

.form__label {
  display: block;
  font-size: 1.25rem;
  color: var(--text-primary-color);
  margin-bottom: 0.5rem;
  font-weight: 600;
}

.form__sub-label {
  display: inline-block;
  opacity: 0.7;
  margin-left: 0.5rem;
}

.form__sub-label--sm {
  font-size: 0.75rem;
}

.form__item {
  width: 100%;
  font-family: inherit;
  border: none;
  outline: none;
  background-color: var(--button-secondary-color);
  border-radius: 0.5rem;
  padding: 0.75rem 1rem;
  color: var(--text-primary-color);
  font-size: 1.25rem;
  transition: all 0.2s;
}

textarea.form__item {
  resize: none;
}

.form__item::placeholder {
  color: var(--text-primary-color);
  opacity: 0.5;
}
/*#endregion form elements*/

/*#region header*/
.header__container {
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 2rem;
  padding: 2rem;
}

.header__logo-section {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  gap: 1.5rem;
  height: 100%;
}

.header__title {
  font-size: 3.5rem;
  font-family: "Coiny", "Roboto", sans-serif;
  line-height: 1;
}

.header__logo {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 7rem;
  height: 7rem;
  border-radius: 50%;
  background-color: var(--button-secondary-color);
}

.header__logo-image {
  width: 5rem;
  height: auto;
}

.header__navbar {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100%;
}

@media (max-width: 1023.99px) {
  .header__title {
    font-size: 3rem;
  }
}

@media (max-width: 767.99px) {
  .header__container {
    flex-direction: column;
    align-items: flex-start;
    gap: 3rem;
  }

  .header__logo-section {
    gap: 1rem;
  }

  .header__logo {
    width: 6rem;
    height: 6rem;
  }

  .header__logo-image {
    width: 4.5rem;
  }

  .header__title {
    font-size: 2.5rem;
  }

  .header__navbar,
  .header__navbar .btn {
    width: 100%;
  }

  .header__navbar .btn {
    font-size: 1.5rem;
  }
}

@media (max-width: 639.99px) {
  .header__container {
    gap: 2rem;
  }

  .header__logo-section {
    gap: 1rem;
  }

  .header__logo {
    width: 5rem;
    height: 5rem;
  }

  .header__logo-image {
    width: 3.5rem;
  }

  .header__title {
    font-size: 2rem;
  }

  .header__navbar .btn {
    font-size: 1.25rem;
    padding: 0.5rem 1rem;
  }
}
/*#endregion header*/

/*#region sidebar*/
.sidebar__container,
.sidebar__tag-buttons {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: flex-start;
  width: 100%;
  height: 100%;
  gap: 2rem;
  padding: 2rem;
}

.sidebar__tag-buttons {
  padding: unset;
  gap: 1rem;
}

.sidebar__tag-buttons .btn--tag-primary {
  margin-bottom: 1rem;
}

.sidebar__container .btn,
.sidebar__tag-buttons .btn {
  width: 100%;
}

@media (max-width: 639.99px) {
  .sidebar__tag-buttons {
    overflow-x: auto;
    flex-direction: row;
    gap: 0.75rem;
    scroll-behavior: smooth;
  }

  .sidebar__tag-buttons::-webkit-scrollbar {
    height: 0;
  }

  .sidebar__tag-buttons .btn {
    font-size: 1.25rem;
    padding: 0.5rem 1rem;
  }

  .sidebar__tag-buttons .btn--tag-primary {
    margin-bottom: unset;
  }
}
/*#endregion sidebar*/

/*#region prediction list*/
.main__container,
.predictions {
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: flex-start;
  gap: 1.5rem;
  padding: 2rem;
}

.predictions {
  padding: unset;
  gap: 1.25;
}

.predictions__item {
  display: grid;
  grid-template-columns: auto auto auto;
  grid-template-areas:
    "content tag buttons"
    "countdown countdown countdown";
  gap: 1.5rem;
}

.predictions__item-content {
  grid-area: content;
  font-family: "Sono", "Roboto", sans-serif;
  font-size: 1.25rem;
  letter-spacing: 0;
  line-height: 1.4;
}

.predictions__item-tag-label {
  grid-area: tag;
  align-self: center;
  width: max-content;
  display: inline-block;
  font-family: "Coiny", "Roboto", sans-serif;
  line-height: 1;
  padding: 0.75rem 1rem;
  border-radius: 1.5rem;
  background-color: var(--tag-button-secondary-color);
}

.predictions__item-vote-buttons {
  grid-area: buttons;
  align-self: center;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  gap: 1rem;
}

.predictions__item-vote-button-item {
  display: flex;
  align-items: center;
  justify-content: flex-start;
  gap: 0.5rem;
  width: 100%;
  min-width: 6rem;
  height: 2.5rem;
  font-family: "Sono", "Roboto", sans-serif;
  line-height: 1;
  font-size: 1.25rem;
  font-weight: 600;
  text-decoration: none;
  border: none;
  border-radius: 1.5rem;
  padding: 0.5rem 1rem;
  cursor: pointer;
  transition: background-color 0.2s, color 0.2s;
  background-color: var(--button-secondary-color);
  color: var(--text-primary-color);
}

.predictions__item-vote-button-item:hover {
  background-color: var(--button-primary-color);
}

.predictions__item-vote-button-item:active {
  background-color: var(--button-primary-active-color);
}

.predictions__item-vote-button-item:disabled {
  opacity: 0.5;
  cursor: not-allowed;
  pointer-events: none;
}

.predictions__item-vote-button-item .fa-solid,
.predictions__item-vote-button-item:hover .fa-regular {
  display: none;
}

.predictions__item-vote-button-item:hover .fa-solid,
.predictions__item-vote-button-item .fa-regular {
  display: var(--fa-display, inline-block);
}

.predictions__item-vote-button-item .fa-thumbs-down {
  transform: scaleX(-1);
}

.predictions__item-vote-counter {
  display: inline-block;
  margin: 0 auto;
}

.predictions__item-countdown {
  grid-area: countdown;
  display: flex;
  align-items: center;
  justify-content: flex-start;
  gap: 1rem;
}

.predictions__item-countdown-item {
  display: flex;
  align-items: center;
  justify-content: flex-start;
  gap: 0.25rem;
  font-family: "Sono", "Roboto", sans-serif;
  letter-spacing: 0;
  color: var(--text-secondary-color);
}

.predictions__item-countdown-item-number {
  font-size: 1.25rem;
}

.predictions__item-countdown-item-text {
  font-size: 0.75rem;
}

@media (min-width: 1024px) and (max-width: 1279px) {
  .predictions__item {
    grid-template-columns: auto auto;
    grid-template-areas:
      "content buttons"
      "tag tag"
      "countdown countdown";
    gap: 1.25rem 1rem;
  }
}

@media (max-width: 1023px) {
  .predictions__item {
    grid-template-columns: auto;
    grid-template-areas:
      "content"
      "buttons"
      "tag"
      "countdown";
    gap: 1.25rem 1rem;
  }

  .predictions__item-vote-buttons {
    flex-direction: row;
  }

  .predictions__item-countdown-item {
    flex-direction: column;
    gap: 0.1rem;
  }
}
/*#endregion prediction list*/

@media (max-width: 768px) {
  .header__container,
  .sidebar__container,
  .main__container {
    padding: 0 1.5rem;
  }

  .header {
    padding-top: 1rem;
  }
}
