@import url("https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,300;0,400;0,500;1,300;1,400;1,500&display=swap");

:root {
  --text-primary-color: #ffffff;
  --text-secondary-color: #a8a29e;
  --background-primary-color: #200f21;
  --background-secondary-color: #382039;
  --button-primary-color: #f638dc;
  --button-secondary-color: #5a3d5c;
  --tag-button-primary-color: #5c5470;
  --tag-button-secondary-color: #352f44;
  --error-color: #ef4444;
}

* {
  padding: 0;
  margin: 0;
  list-style: none;
  border: 0;
  box-sizing: border-box;
}

html,
body {
  height: 100%;
}

body {
  font-family: "Roboto", sans-serif;
}
