@import url("https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,300;0,400;0,500;1,300;1,400;1,500&display=swap");

@import url("https://fonts.googleapis.com/css2?family=Coiny&family=Sono:wght@400;600&display=swap");

:root {
  --text-primary-color: #e5e5e5;
  --text-secondary-color: #999999;
  --background-primary-color: #200f21;
  --background-secondary-color: #382039;
  --button-primary-color: #f638dc;
  --button-primary-hover-color: #f76ff1;
  --button-primary-active-color: #e419c9;
  --button-secondary-color: #5a3d5c;
  --button-secondary-hover-color: #7a546a;
  --button-secondary-active-color: #3f2b3d;
  --button-text-color: #e5e5e5;
  --tag-button-primary-color: #5c5470;
  --tag-button-primary-hover-color: #706a85;
  --tag-button-primary-active-color: #4a425a;
  --tag-button-secondary-color: #352f44;
  --tag-button-secondary-hover-color: #534b61;
  --tag-button-secondary-active-color: #221d2e;
  --url-text-primary-color: #e5e5e5;
  --url-text-primary-hover-color: #f2f2f2;
  --url-text-primary-active-color: #b3b3b3;
  --url-text-primary-visited-color: #cccccc;
  --url-text-secondary-color: #999999;
  --url-text-secondary-hover-color: #b3b3b3;
  --url-text-secondary-active-color: #666666;
  --url-text-secondary-visited-color: #666666;
  --erorr-primary-color: #e94560;
  --error-secondary-color: #ed2b2a;
}

* {
  padding: 0;
  margin: 0;
  list-style: none;
  border: 0;
  box-sizing: border-box;
}

/*#region scrollbar*/
/* Firefox */
* {
  scrollbar-width: thin;
  scrollbar-color: var(--button-secondary-color)
    var(--background-secondary-color);
}

/* Chrome, Safari, Edge */
::-webkit-scrollbar {
  width: 10px;
}

::-webkit-scrollbar-track {
  background: var(--background-secondary-color);
}

::-webkit-scrollbar-thumb {
  background: var(--button-secondary-color);
  border-radius: 10px;
}

::-webkit-scrollbar-thumb:hover {
  background: var(--button-secondary-hover-color);
}
/*#endregion scrollbar*/

html {
  scroll-behavior: smooth;
  overflow-y: overlay;
}

html,
body,
#app-root {
  height: 100%;
}

body {
  font-family: "Roboto", sans-serif;
  background-color: var(--background-primary-color);
  color: var(--text-primary-color);
}

.container {
  margin: 0 auto;
  width: 100%;
}

.grid-container {
  display: grid;
  grid-template-columns: 18rem 1fr;
  grid-template-rows: auto 1fr auto;
  grid-template-areas:
    "header header"
    "sidebar main"
    "footer footer";
  gap: 0;
  height: 100%;
  width: 100%;
}

.header {
  grid-area: header;
  position: sticky;
  top: 0;
  z-index: 10000;
  background-color: var(--background-primary-color);
}

.footer {
  grid-area: footer;
}

.sidebar {
  grid-area: sidebar;
  align-self: flex-start;
  position: sticky;
  top: 176px;
  z-index: 10000;
  background-color: var(--background-primary-color);
}

.main {
  grid-area: main;
}

@media (min-width: 640px) {
  .container {
    max-width: 640px;
  }
}

@media (min-width: 768px) {
  .container {
    max-width: 768px;
  }
}

@media (min-width: 1024px) {
  .container {
    max-width: 1024px;
  }
}

@media (min-width: 1280px) {
  .container {
    max-width: 1280px;
  }
}

@media (min-width: 1536px) {
  .container {
    max-width: 1536px;
  }
}

@media (max-width: 767px) {
  .grid-container {
    grid-template-columns: 100%;
    grid-template-rows: auto auto 1fr auto;
    grid-template-areas:
      "header"
      "sidebar"
      "main"
      "footer";
  }
}

.hide {
  display: none !important;
}

/*#region buttons*/
.btn,
.btn-md {
  display: flex;
  align-items: center;
  justify-content: center;
  width: max-content;
  min-height: 2.5rem;
  font-family: "Coiny", "Roboto", sans-serif;
  line-height: 1;
  font-size: 1.25rem;
  text-decoration: none;
  border: none;
  border-radius: 0.5rem;
  padding: 0.5rem 1rem;
  cursor: pointer;
  transition: background-color 0.2s, color 0.2s, box-shadow 0.2s;
  background-color: var(--button-text-color);
  color: var(--background-secondary-color);
}

.btn:hover {
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

.btn:active {
  box-shadow: 0 1px 2px rgba(0, 0, 0, 0.1);
}

.btn:disabled,
.btn--disabled {
  cursor: not-allowed;
  box-shadow: none;
  opacity: 0.5;
}

.btn:disabled:hover,
.btn--disabled:hover {
  box-shadow: none;
}

.btn--xl {
  font-size: 2rem;
  padding: 0.75rem 1.5rem;
  border-radius: 0.75rem;
}

.btn--lg {
  font-size: 1.5rem;
  padding: 0.75rem 1.5rem;
  border-radius: 0.75rem;
}

.btn--primary {
  background-color: var(--button-primary-color);
  color: var(--button-text-color);
}

.btn--primary:hover {
  background-color: var(--button-primary-hover-color);
  color: var(--button-text-color);
}

.btn--primary:active {
  background-color: var(--button-primary-active-color);
  color: var(--button-text-color);
}

.btn--primary.btn--disabled:hover,
.btn--primary.btn--disabled:active,
.btn--primary:disabled:hover,
.btn--primary:disabled:active {
  background-color: var(--button-primary-color);
  color: var(--button-text-color);
}

.btn--secondary {
  background-color: var(--button-secondary-color);
  color: var(--button-text-color);
}

.btn--secondary:hover {
  background-color: var(--button-secondary-hover-color);
  color: var(--button-text-color);
}

.btn--secondary:active {
  background-color: var(--button-secondary-active-color);
  color: var(--button-text-color);
}

.btn--secondary.btn--disabled:hover,
.btn--secondary.btn--disabled:active,
.btn--secondary:disabled:hover,
.btn--secondary:disabled:active {
  background-color: var(--button-secondary-color);
  color: var(--button-text-color);
}

.btn--tag-primary {
  background-color: var(--tag-button-primary-color);
  color: var(--button-text-color);
}

.btn--tag-primary:hover {
  background-color: var(--tag-button-primary-hover-color);
  color: var(--button-text-color);
}

.btn--tag-primary:active {
  background-color: var(--tag-button-primary-active-color);
  color: var(--button-text-color);
}

.btn--tag-primary.btn--disabled:hover,
.btn--tag-primary.btn--disabled:active,
.btn--tag-primary:disabled:hover,
.btn--tag-primary:disabled:active {
  background-color: var(--tag-button-primary-color);
  color: var(--button-text-color);
}

.btn--tag-secondary {
  background-color: var(--tag-button-secondary-color);
  color: var(--button-text-color);
}

.btn--tag-secondary:hover {
  background-color: var(--tag-button-primary-color);
  color: var(--button-text-color);
}

.btn--tag-secondary:active {
  background-color: var(--tag-button-primary-active-color);
  color: var(--button-text-color);
}

.btn--tag-secondary.btn--disabled:hover,
.btn--tag-secondary.btn--disabled:active,
.btn--tag-secondary:disabled:hover,
.btn--tag-secondary:disabled:active {
  background-color: var(--tag-button-secondary-color);
  color: var(--button-text-color);
}

.btn--active {
  background-color: var(--tag-button-primary-color);
  pointer-events: none;
}
/*#endregion buttons*/

/*#region url (anchor)*/
.url {
  font-family: "Sono", "Roboto", sans-serif;
  font-size: 1.25rem;
  text-decoration: unset;
  transition: color 0.2s;
}

.url--inherit {
  font-family: inherit;
  font-size: inherit;
  color: inherit;
}

.url:link {
  cursor: pointer;
}

.url--primary {
  color: var(--url-text-primary-color);
}

.url--primary:is([href]):visited {
  color: var(--url-text-primary-visited-color);
}

.url--primary:is([href]):hover {
  color: var(--url-text-primary-hover-color);
}

.url--primary:is([href]):active {
  color: var(--url-text-primary-active-color);
}

.url--secondary {
  color: var(--url-text-secondary-color);
}

.url--secondary:is([href]):visited {
  color: var(--url-text-secondary-visited-color);
}

.url--secondary:is([href]):hover {
  color: var(--url-text-secondary-hover-color);
}

.url--secondary:is([href]):active {
  color: var(--url-text-secondary-active-color);
}
/*#endregion url (anchor)*/

/*#region card*/
.card {
  padding: 1.25rem 1.75rem;
  border-radius: 0.75rem;
  background-color: var(--background-secondary-color);
}

.card--full {
  width: 100%;
}

@media (max-width: 1023px) {
  .card {
    padding: 1.25rem;
  }
}
/*#endregion card*/

/*#region form elements*/
.form {
  width: 100%;
  height: auto;
  font-family: "Sono", "Roboto", sans-serif;
  letter-spacing: 0;
  line-height: 1.4;
}

.form__header,
.form__content {
  margin-bottom: 1.75rem;
}

.form__title {
  font-family: inherit;
  font-weight: 600;
  line-height: 1.2;
  font-size: 1.5rem;
}

.form__title--md {
  font-size: 1.5rem;
}

.form__title--lg {
  font-size: 1.75rem;
}

.form__title--xl {
  font-size: 2rem;
}

.form__item-group {
  width: 100%;
  margin-bottom: 1.5rem;
}

.form__label {
  display: block;
  font-size: 1.25rem;
  color: var(--text-primary-color);
  margin-bottom: 0.5rem;
  font-weight: 600;
}

.form__sub-label {
  display: inline-block;
  opacity: 0.7;
  margin-left: 0.5rem;
}

.form__sub-label--sm {
  font-size: 0.75rem;
}

.form__item {
  width: 100%;
  font-family: inherit;
  border: 1px solid transparent;
  outline: none;
  background-color: var(--button-secondary-color);
  border-radius: 0.5rem;
  padding: 0.75rem 1rem;
  color: var(--text-primary-color);
  font-size: 1.25rem;
  transition: all 0.2s;
}

textarea.form__item {
  resize: none;
}

input.input.form__item {
  cursor: pointer;
}

.form__item::placeholder {
  color: var(--text-primary-color);
  opacity: 0.5;
}

.form__item:focus {
  border: 1px solid var(--text-secondary-color);
}

.form__actions {
  display: flex;
  justify-content: flex-end;
  align-items: center;
  gap: 1.25rem;
  width: 100%;
}

.form__btn {
  font-family: inherit;
  font-weight: 600;
}

/*#region select box (choices)*/
.choices {
  margin-bottom: unset;
}

.choices__inner {
  font-family: "Sono", "Roboto", sans-serif;
  line-height: 1.4;
  font-size: 1.25rem;
  padding: 0.75rem 1rem;
  background-color: var(--button-secondary-color);
  border: 1px solid transparent;
  border-radius: 0.5rem;
  transition: border-color 0.2s;
}

.choices__list--single {
  padding: 0;
}

.choices__list--dropdown,
.choices__list[aria-expanded] {
  background-color: var(--button-secondary-color);
  border: 1px solid transparent;
}

.choices[data-type*="select-one"] .choices__button {
  background-image: url(../icons/xmark-solid.svg);
  background-size: 0.75rem;
  opacity: 0.5;
  transition: opacity 0.2s;
  margin-right: 1.75rem;
}

.is-focused .choices__inner,
.is-open .choices__inner,
.is-open .choices__list--dropdown,
.is-open .choices__list[aria-expanded] {
  border-color: var(--text-secondary-color);
}

.choices__list--dropdown .choices__item,
.choices__list[aria-expanded] .choices__item {
  font-size: 1.25rem;
}

.choices__list--dropdown .choices__item--selectable.is-highlighted,
.choices__list[aria-expanded] .choices__item--selectable.is-highlighted {
  background-color: var(--button-primary-color);
}

.choices__list--dropdown .choices__item,
.choices__list[aria-expanded] .choices__item {
  padding: 0.5rem 1rem;
  border-bottom: 1px solid var(--text-secondary-color);
  border-right: 1px solid var(--text-secondary-color);
}

.choices__list--dropdown .choices__item:last-of-type,
.choices__list[aria-expanded] .choices__item:last-of-type {
  padding: 0.75rem 1rem;
  border-bottom: unset;
}

.choices__list--dropdown,
.choices__list[aria-expanded],
.is-flipped.is-open .choices__inner,
.is-open .choices__inner,
.is-flipped .choices__list--dropdown,
.is-flipped .choices__list[aria-expanded] {
  border-radius: 0.5rem;
}

.choices[data-type*="select-one"]::after {
  border-color: var(--text-secondary-color) transparent transparent;
}

.choices[data-type*="select-one"].is-open::after {
  border-color: transparent transparent var(--text-secondary-color);
}

.choices__item--disabled {
  opacity: 1;
  color: var(--text-secondary-color);
  display: none;
}

.choices__list.choices__list--dropdown {
  margin-top: 16px;
}

.is-flipped .choices__list--dropdown,
.is-flipped .choices__list[aria-expanded] {
  margin-bottom: 16px;
}

.choices__list--dropdown .choices__list,
.choices__list[aria-expanded] .choices__list {
  max-height: 220px;
}

@media (max-width: 767px) {
  .choices__list--dropdown .choices__list,
  .choices__list[aria-expanded] .choices__list {
    max-height: 180px;
  }
}
/*#endregion select box (choices)*/

/*#endregion form elements*/

/*#region errors*/
.error {
  width: 100%;
  font-family: "Sono", "Roboto", sans-serif;
  font-size: 1.25rem;
  letter-spacing: 0;
  line-height: 1.2;
  color: var(--erorr-primary-color);
  margin-top: 0.5rem;
}

.error__container {
  margin-bottom: 1rem;
}

.error__container:last-of-type {
  margin-bottom: unset;
}

.error--with-icon {
  display: flex;
  align-items: flex-start;
  justify-content: flex-start;
  gap: 0.5rem;
}

.error__icon {
  margin-top: 2px;
}

.error__text {
  font-family: inherit;
  display: inline-block;
}

.error--border,
.error--border:focus {
  border: 1px solid var(--erorr-primary-color) !important;
}
/*#endregion errors*/

/*#region header*/
.header__container {
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 2rem;
  padding: 2rem;
}

.header__logo-section {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  gap: 1.5rem;
  height: 100%;
}

.header__title {
  font-size: 3.5rem;
  font-family: "Coiny", "Roboto", sans-serif;
  line-height: 1;
}

.header__logo {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 7rem;
  height: 7rem;
  border-radius: 50%;
  background-color: var(--button-secondary-color);
  flex-shrink: 0;
}

.header__logo-image {
  width: 5rem;
  height: auto;
}

.header__navbar {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100%;
}

@media (max-width: 1023px) {
  .header__title {
    font-size: 3rem;
  }
}

@media (max-width: 767px) {
  .header__container {
    flex-direction: column;
    align-items: flex-start;
    gap: 3rem;
  }

  .header__logo-section {
    gap: 1rem;
  }

  .header__logo {
    width: 6rem;
    height: 6rem;
  }

  .header__logo-image {
    width: 4.5rem;
  }

  .header__title {
    font-size: 2.5rem;
  }

  .header__navbar,
  .header__navbar .btn {
    width: 100%;
  }

  .header__navbar .btn {
    font-size: 1.5rem;
  }
}

@media (max-width: 639px) {
  .header__container {
    gap: 2rem;
  }

  .header__logo-section {
    gap: 1rem;
  }

  .header__logo {
    width: 5rem;
    height: 5rem;
  }

  .header__logo-image {
    width: 3.5rem;
  }

  .header__title {
    font-size: 2rem;
  }

  .header__navbar .btn {
    font-size: 1.25rem;
    padding: 0.5rem 1rem;
  }
}
/*#endregion header*/

/*#region sidebar*/
.sidebar__container,
.sidebar__tag-buttons {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: flex-start;
  width: 100%;
  height: 100%;
  gap: 2rem;
  padding: 2rem;
}

.sidebar__tag-buttons {
  padding: unset;
  height: max-content;
  gap: 1rem;
}

.sidebar__tag-buttons button:first-of-type {
  margin-bottom: 1rem;
}

.sidebar__container .btn,
.sidebar__tag-buttons .btn {
  width: 100%;
}

@media (max-width: 767px) {
  .sidebar__tag-buttons {
    overflow-x: auto;
    flex-direction: row;
    gap: 0.75rem;
    scroll-behavior: smooth;
  }

  .sidebar__tag-buttons::-webkit-scrollbar {
    height: 0;
  }

  .sidebar__tag-buttons .btn {
    font-size: 1.25rem;
    padding: 0.5rem 1rem;
  }

  .sidebar__tag-buttons .btn--tag-primary {
    margin-bottom: unset;
  }
}
/*#endregion sidebar*/

/*#region prediction list*/
.main__container,
.predictions {
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: flex-start;
  gap: 1.5rem;
  padding: 2rem;
}

.predictions {
  padding: unset;
  gap: 1.25rem;
}

.predictions__item {
  display: grid;
  grid-template-columns: 1fr auto auto;
  grid-template-areas:
    "content tag buttons"
    "dates dates dates";
  gap: 1.5rem;
}

.predictions__item-content-label {
  display: none;
  font-size: inherit;
  font-family: inherit;
  color: var(--erorr-primary-color);
}

.predictions__item--expired {
  opacity: 0.5;
}

.predictions__item--expired .predictions__item-content-label {
  display: inline-block;
}

.predictions__item-content {
  grid-area: content;
  font-family: "Sono", "Roboto", sans-serif;
  font-size: 1.25rem;
  letter-spacing: 0;
  line-height: 1.4;
  text-transform: capitalize;
}

.predictions__item-tag-label {
  grid-area: tag;
  align-self: center;
  width: max-content;
  display: inline-block;
  font-family: "Coiny", "Roboto", sans-serif;
  line-height: 1;
  text-transform: capitalize;
  padding: 0.75rem 1rem;
  border-radius: 1.5rem;
  background-color: var(--tag-button-secondary-color);
}

.predictions__item-vote-buttons {
  grid-area: buttons;
  align-self: center;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  gap: 1rem;
}

.predictions__item-vote-button-item {
  display: flex;
  align-items: center;
  justify-content: flex-start;
  gap: 0.5rem;
  width: 100%;
  min-width: 6rem;
  height: 2.5rem;
  font-family: "Sono", "Roboto", sans-serif;
  line-height: 1;
  font-size: 1.25rem;
  font-weight: 600;
  text-decoration: none;
  border: none;
  border-radius: 1.5rem;
  padding: 0.5rem 1rem;
  cursor: pointer;
  transition: background-color 0.2s, color 0.2s;
  background-color: var(--button-secondary-color);
  color: var(--text-primary-color);
}

.predictions__item-vote-button-item:hover {
  background-color: var(--button-primary-color);
}

.predictions__item-vote-button-item:active {
  background-color: var(--button-primary-active-color);
}

.predictions__item-vote-button-item:disabled {
  opacity: 0.5;
  cursor: not-allowed;
  pointer-events: none;
}

.predictions__item-vote-button-item .fa-solid,
.predictions__item-vote-button-item:hover .fa-regular {
  display: none;
}

.predictions__item-vote-button-item:hover .fa-solid,
.predictions__item-vote-button-item .fa-regular {
  display: var(--fa-display, inline-block);
}

.predictions__item-vote-button-item .fa-thumbs-down {
  transform: scaleX(-1);
}

.predictions__item-vote-counter {
  display: inline-block;
  margin: 0 auto;
}

.predictions__item-dates {
  grid-area: dates;
}

.predictions__item-realization-time {
  display: inline-block;
  margin-top: 0.5rem;
  font-family: "Sono", "Roboto", sans-serif;
  letter-spacing: 0;
  font-size: 0.75rem;
  color: var(--url-text-secondary-active-color);
}

.predictions__item-countdown {
  display: flex;
  align-items: center;
  justify-content: flex-start;
  gap: 1rem;
}

.predictions__item-countdown-item {
  display: flex;
  align-items: center;
  justify-content: flex-start;
  gap: 0.25rem;
  font-family: "Sono", "Roboto", sans-serif;
  letter-spacing: 0;
  text-transform: capitalize;
  color: var(--text-secondary-color);
}

.predictions__item-countdown-item--error,
.predictions__item-realization-time--error {
  color: var(--erorr-primary-color);
}

.predictions__item-countdown-item-number {
  font-size: 1.25rem;
}

.predictions__item-countdown-item-text {
  font-size: 0.75rem;
}

@media (min-width: 1024px) and (max-width: 1279px) {
  .predictions__item {
    grid-template-columns: auto auto;
    grid-template-areas:
      "content buttons"
      "tag tag"
      "dates dates";
    gap: 1.25rem 1rem;
  }
}

@media (max-width: 1023px) {
  .predictions__item {
    grid-template-columns: auto;
    grid-template-areas:
      "content"
      "buttons"
      "tag"
      "dates";
    gap: 1.25rem 1rem;
  }

  .predictions__item-vote-buttons {
    flex-direction: row;
  }

  .predictions__item-countdown-item {
    flex-direction: column;
    gap: 0.1rem;
  }
}
/*#endregion prediction list*/

/*#region footer*/
.footer__container {
  padding: 1.25rem;
}
/*#endregion footer*/

@media (max-width: 767px) {
  .header__container,
  .sidebar__container,
  .main__container {
    padding: 0 1.5rem;
  }

  .header__container {
    padding-bottom: 1rem;
  }

  .header {
    padding-top: 1rem;
  }
}

/*#region loader*/
.loader {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
  height: 24rem;
}

.loader__item {
  width: 48px;
  height: 48px;
  border-radius: 50%;
  display: inline-block;
  position: relative;
  background: linear-gradient(
    0deg,
    rgb(246, 56, 220, 0.2) 33%,
    rgb(246, 56, 220) 100%
  );
  box-sizing: border-box;
  animation: rotation 1s linear infinite;
}

.loader__item::after {
  content: "";
  box-sizing: border-box;
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
  width: 40px;
  height: 40px;
  border-radius: 50%;
  background: var(--background-primary-color);
}

.loader__item--xl {
  width: 72px;
  height: 72px;
}

.loader__item--xl::after {
  width: 60px;
  height: 60px;
}

@keyframes rotation {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}
/*#endregion loader*/

/*#region empty content*/
.empty-content {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
  gap: 2rem;
  width: 100%;
  height: auto;
  padding-top: 4rem;
}

.empty-content__text {
  font-family: "Sono", "Roboto", sans-serif;
  letter-spacing: 0;
  line-height: 1.4;
  font-size: 1.75rem;
  color: var(--text-primary-color);
  text-align: center;
  width: 100%;
}

.empty-content__icon {
  height: max-content;
  text-align: center;
  width: 100%;
  color: var(--text-primary-color);
  font-size: 1.5rem;
}
/*#endregion empty content*/

/*#region flatpickr (input date)*/
.flatpickr-calendar,
.flatpickr-calendar.multiMonth
  .flatpickr-days
  .dayContainer:nth-child(n + 2)
  .flatpickr-day.inRange:nth-child(7n + 1),
.dayContainer + .dayContainer,
.flatpickr-day.selected.startRange + .endRange:not(:nth-child(7n + 1)),
.flatpickr-day.startRange.startRange + .endRange:not(:nth-child(7n + 1)),
.flatpickr-day.endRange.startRange + .endRange:not(:nth-child(7n + 1)),
.flatpickr-day.inRange,
.flatpickr-day.week.selected,
.flatpickr-weekwrapper .flatpickr-weeks {
  -webkit-box-shadow: none;
  box-shadow: none;
}

.flatpickr-calendar {
  font-family: "Sono", "Roboto", sans-serif;
  font-size: 1rem;
  line-height: 1.4;
  background: var(--button-secondary-color);
  border: 1px solid var(--text-secondary-color);
  border-radius: 0.5rem;
}

.flatpickr-calendar.arrowTop {
  margin-top: 12px;
}

.flatpickr-calendar.arrowBottom {
  margin-top: -12px;
}

.flatpickr-days {
  padding: 0.75rem 0;
}

.flatpickr-calendar.hasTime .flatpickr-time {
  border-top: 1px solid var(--text-secondary-color);
}

.flatpickr-calendar.arrowTop:before {
  border-bottom-color: var(--text-secondary-color);
}
.flatpickr-calendar.arrowTop:after {
  border-bottom-color: var(--button-secondary-color);
}

.flatpickr-calendar.arrowBottom:before {
  border-top-color: var(--text-secondary-color);
}
.flatpickr-calendar.arrowBottom:after {
  border-top-color: var(--button-secondary-color);
}

.flatpickr-months .flatpickr-month {
  background: var(--button-secondary-color);
  color: var(--text-primary-color);
  fill: var(--text-primary-color);
  height: 2.75rem;
  border-radius: 0.5rem 0.5rem 0 0;
}

.flatpickr-months .flatpickr-prev-month,
.flatpickr-months .flatpickr-next-month {
  color: var(--text-primary-color);
  fill: var(--text-primary-color);
}

.flatpickr-months .flatpickr-prev-month:hover,
.flatpickr-months .flatpickr-next-month:hover {
  color: var(--text-secondary-color);
}
.flatpickr-months .flatpickr-prev-month:hover svg,
.flatpickr-months .flatpickr-next-month:hover svg {
  fill: var(--text-secondary-color);
}

.flatpickr-current-month .numInputWrapper span.arrowUp:after {
  border-bottom-color: var(--text-primary-color);
}
.flatpickr-current-month .numInputWrapper span.arrowDown:after {
  border-top-color: var(--text-primary-color);
}

.flatpickr-current-month input.cur-year[disabled],
.flatpickr-current-month input.cur-year[disabled]:hover {
  color: var(--text-secondary-color);
  opacity: 0.4;
}

.flatpickr-months {
  width: 100%;
  display: grid;
  grid-template-columns: 34px auto 34px;
  align-items: center;
}

.flatpickr-current-month {
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 16px;
  padding: 0;
  font-size: 1.25rem;
  position: unset;
  width: 100%;
}

.flatpickr-months .flatpickr-prev-month,
.flatpickr-months .flatpickr-next-month {
  position: unset;
  padding: 0;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 34px;
  height: 34px;
  transition: color fill 1s;
}

.flatpickr-months .flatpickr-prev-month.flatpickr-disabled,
.flatpickr-months .flatpickr-next-month.flatpickr-disabled {
  display: block;
  visibility: hidden;
}

.flatpickr-months .flatpickr-prev-month svg path,
.flatpickr-months .flatpickr-next-month svg path {
  transition: fill 0.2s;
}

.flatpickr-current-month .flatpickr-monthDropdown-months {
  background: var(--button-secondary-color);
  border: none;
  border-radius: 0.5rem;
  padding: 0 4px;
  height: 2rem;
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
  text-align: center;
}

.flatpickr-current-month .numInputWrapper {
  width: 6.5ch;
  border-radius: 0.5rem;
}

.flatpickr-current-month input.cur-year {
  padding: 0;
  padding-left: 8px;
  border-radius: 0.5rem;
  height: 2rem;
}

.numInputWrapper span {
  width: 18px;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 0;
}

.flatpickr-weekdays {
  border-bottom: 1px solid var(--text-secondary-color);
  border-top: 1px solid var(--text-secondary-color);
  height: 2rem;
}

span.flatpickr-weekday {
  background: var(--button-secondary-color);
  color: var(--text-primary-color);
}

.flatpickr-day {
  color: var(--text-primary-color);
}

.flatpickr-day.inRange,
.flatpickr-day.prevMonthDay.inRange,
.flatpickr-day.nextMonthDay.inRange,
.flatpickr-day.today.inRange,
.flatpickr-day.prevMonthDay.today.inRange,
.flatpickr-day.nextMonthDay.today.inRange,
.flatpickr-day:hover,
.flatpickr-day.prevMonthDay:hover,
.flatpickr-day.nextMonthDay:hover,
.flatpickr-day:focus,
.flatpickr-day.prevMonthDay:focus,
.flatpickr-day.nextMonthDay:focus {
  background: var(--button-primary-hover-color);
  border-color: var(--button-primary-hover-color);
}
.flatpickr-day:hover,
.flatpickr-day.nextMonthDay:hover {
  color: var(--text-primary-color);
}

.flatpickr-day.today {
  border-color: var(--text-secondary-color);
}

.flatpickr-day.today:hover,
.flatpickr-day.today:focus {
  border-color: var(--button-primary-hover-color);
  background: var(--button-primary-hover-color);
  color: var(--text-primary-color);
}

.flatpickr-day.selected,
.flatpickr-day.startRange,
.flatpickr-day.endRange,
.flatpickr-day.selected.inRange,
.flatpickr-day.startRange.inRange,
.flatpickr-day.endRange.inRange,
.flatpickr-day.selected:focus,
.flatpickr-day.startRange:focus,
.flatpickr-day.endRange:focus,
.flatpickr-day.selected:hover,
.flatpickr-day.startRange:hover,
.flatpickr-day.endRange:hover,
.flatpickr-day.selected.prevMonthDay,
.flatpickr-day.startRange.prevMonthDay,
.flatpickr-day.endRange.prevMonthDay,
.flatpickr-day.selected.nextMonthDay,
.flatpickr-day.startRange.nextMonthDay,
.flatpickr-day.endRange.nextMonthDay {
  background: var(--button-primary-color);
  color: var(--text-primary-color);
  border-color: var(--button-primary-color);
}

.flatpickr-day.flatpickr-disabled,
.flatpickr-day.flatpickr-disabled:hover,
.flatpickr-day.prevMonthDay,
.flatpickr-day.nextMonthDay,
.flatpickr-day.notAllowed,
.flatpickr-day.notAllowed.prevMonthDay,
.flatpickr-day.notAllowed.nextMonthDay {
  color: var(--text-secondary-color);
}

.flatpickr-day.flatpickr-disabled,
.flatpickr-day.flatpickr-disabled:hover {
  color: var(--text-secondary-color);
  opacity: 0.3;
}

.flatpickr-weekwrapper span.flatpickr-day,
.flatpickr-weekwrapper span.flatpickr-day:hover {
  color: var(--text-secondary-color);
}

.flatpickr-time .numInputWrapper span.arrowUp:after {
  border-bottom-color: var(--text-primary-color);
}
.flatpickr-time .numInputWrapper span.arrowDown:after {
  border-top-color: var(--text-primary-color);
}

.flatpickr-time input {
  color: var(--text-primary-color);
}

.flatpickr-time .flatpickr-time-separator,
.flatpickr-time .flatpickr-am-pm {
  color: var(--text-primary-color);
}

.flatpickr-time input:hover,
.flatpickr-time .flatpickr-am-pm:hover,
.flatpickr-time input:focus,
.flatpickr-time .flatpickr-am-pm:focus {
  background: var(--button-secondary-color);
}

.flatpickr-calendar.animate.open {
  -webkit-animation: none;
  animation: none;
}

.flatpickr-calendar.animate.open.arrowTop {
  -webkit-animation: fpFadeInUp 300ms cubic-bezier(0.23, 1, 0.32, 1);
  animation: fpFadeInUp 300ms cubic-bezier(0.23, 1, 0.32, 1);
}

.flatpickr-calendar.animate.open.arrowBottom {
  -webkit-animation: fpFadeInDown 300ms cubic-bezier(0.23, 1, 0.32, 1);
  animation: fpFadeInDown 300ms cubic-bezier(0.23, 1, 0.32, 1);
}

@media (max-width: 767px) {
  .flatpickr-calendar.animate.open.arrowTop,
  .flatpickr-calendar.animate.open.arrowBottom {
    -webkit-animation: none;
    animation: none;
  }
}

@-webkit-keyframes fpFadeInUp {
  from {
    opacity: 0;
    -webkit-transform: translate3d(0, 20px, 0);
    transform: translate3d(0, 20px, 0);
  }
  to {
    opacity: 1;
    -webkit-transform: translate3d(0, 0, 0);
    transform: translate3d(0, 0, 0);
  }
}

@keyframes fpFadeInUp {
  from {
    opacity: 0;
    -webkit-transform: translate3d(0, 20px, 0);
    transform: translate3d(0, 20px, 0);
  }
  to {
    opacity: 1;
    -webkit-transform: translate3d(0, 0, 0);
    transform: translate3d(0, 0, 0);
  }
}
/*#endregion flatpickr (input date)*/

/*#region modal*/
.modal__overlay {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.7);
  z-index: 100000;
}

.modal__body {
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  font-family: "Sono", "Roboto", sans-serif;
  font-size: 1.25rem;
  letter-spacing: 0;
  line-height: 1.4;
  padding: 1rem 2rem;
  width: 80%;
  max-width: 600px;
  border: 1px solid var(--text-secondary-color);
}

.modal__header,
.modal__content,
.modal__footer {
  padding: 1rem 0;
}

.modal__close {
  width: 100%;
}

@media (max-width: 640px) {
  .modal__body {
    padding: 0.5rem 1.5rem;
  }
}
/*#endregion modal*/
